<!DOCTYPE html> 
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
    </head>
    <body style="padding: 0; margin: 0;">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <canvas width="560" height="560" style="background: black;" id="main-canvas"></canvas>
            <div>
                <h1 id="output" style="text-align: center;"></h1>
            </div>
            <button id="reset-button">Wissen</button>
            <canvas id="myChart"></canvas>
            <canvas id="performanceChart"></canvas>
            <canvas id="numberChart"></canvas>
        </div>
        <script>
            var hiddenCanvas = document.createElement('canvas');
            hiddenCanvas.width = "28";
            hiddenCanvas.height = "28";
            hiddenCanvas.style.float = 'right';
            hiddenCanvas.style.display = 'none';
            document.body.appendChild(hiddenCanvas);

            var canvas = document.getElementById('main-canvas');
            var ctx = canvas.getContext('2d');
            var ctxHidden = hiddenCanvas.getContext('2d');
            var p = document.getElementById('output');

            var pos = { x: canvas.offsetLeft, y: 0};

            console.log(pos);

            document.getElementById('reset-button').onclick = function() {
                ctxHidden.clearRect(0, 0, 28, 28);
                ctx.clearRect(0, 0, 560, 560);
            }

            document.addEventListener('mousemove', draw);
            document.addEventListener('mousedown', setPosition);
            document.addEventListener('mouseenter', setPosition);

            // new position from mouse event
            function setPosition(e) {
                pos.x = e.clientX - canvas.offsetLeft;
                pos.y = e.clientY;
            }

            setInterval(function() {
                    ctxHidden.drawImage(canvas,0,0,560,560,0,0,28,28);

                    let data = Array.from(ctxHidden.getImageData(0, 0, 28, 28).data);
                    let brightnessValues = [];

                    for (let i = 0; i < data.length; i += 4) {
                        brightnessValues.push(data[i + 3] / 255);
                    }

                    $.ajax({
                        url: '/predict',
                        type: 'POST',
                        data: JSON.stringify(brightnessValues),
                        contentType: "application/json",
                        processData: false,
                        success: function(data){
                            let highest = 0;
                            let highestIndex = 0;

                            console.log(data.data);

                            data.data.forEach((item, index) => {
                                if (parseFloat(item[0]) > highest) {
                                    highest = item[0];
                                    highestIndex = index;
                                }
                            });

                            console.log(highest);

                            p.innerHTML = highestIndex + "<br> (" + Math.round(highest * 100) + "% zeker)";
                        }
                    });
                }, 500);

            function draw(e) {
                // mouse left button must be pressed
                if (e.buttons !== 1) return;

                ctx.beginPath(); // begin

                ctx.lineWidth = 80;
                ctx.lineCap = 'round';
                ctx.strokeStyle = 'white';

                ctx.moveTo(pos.x, pos.y); // from
                setPosition(e);
                ctx.lineTo(pos.x, pos.y); // to

                ctx.stroke(); // draw it!
            }

            $.ajax({
                url: '/get_errors',
                type: 'GET',
                success: function (data) {
                    console.log(data);
                    let chartData = [];
                    let total = 0;
                    chartData.push(data.errors[0]);
                    data.errors.forEach((error, index) => {
                        total += error;
                        if (index != 0 && index % 1000 == 0) {
                            chartData.push(total / 1000);
                            total = 0;
                        }
                    });
                    console.log(chartData);
                    new Chart("myChart", {
                        type: "line",
                        data: {
                            labels: [0, 1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000, 11000, 12000, 13000, 14000, 15000, 16000, 17000, 18000, 19000],
                            datasets: [{
                                fill: false,
                                label: "Error",
                                borderColor: "rgba(0,0,0,1)",
                                data: chartData,
                                title: 'test'
                            }]
                        },
                        options: {
                            title: {
                                display: true,
                                text: 'Neural network error after # of training samples'
                            },
                            scales: {
                                yAxes: [{
                                    display: true,
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Error'
                                    }
                                }],
                                xAxes: [{
                                    display: true,
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Training samples'
                                    }
                                }]
                            }
                        }
                    }); 
                }
            })
            $.ajax({
                url: '/get_performances',
                type: 'GET',
                success: function (data) {
                    new Chart("performanceChart", {
                        type: "line",
                        data: {
                            labels: [0, 1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000, 11000, 12000, 13000, 14000, 15000, 16000, 17000, 18000, 19000, 20000, 21000, 22000, 23000, 24000, 25000, 26000, 27000, 28000, 29000, 30000],
                            datasets: [{
                                fill: false,
                                label: "Performance",
                                borderColor: "rgba(0,0,0,1)",
                                data: data.performances,
                                title: 'test'
                            }]
                        },
                        options: {
                            title: {
                                display: true,
                                text: 'Neural network performance after # of training samples'
                            },
                            scales: {
                                yAxes: [{
                                    display: true,
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Performance'
                                    }
                                }],
                                xAxes: [{
                                    display: true,
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Training samples'
                                    }
                                }]
                            }
                        }
                    }); 
                }
            })
            $.ajax({
                url: '/get_numbers',
                type: 'GET',
                success: function (data) {
                    new Chart("numberChart", {
                        type: "bar",
                        data: {
                            labels: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
                            datasets: [{
                                fill: false,
                                label: "Performance",
                                borderColor: "rgba(0,0,0,1)",
                                data: data.numbers,
                                title: 'test'
                            }]
                        },
                        options: {
                            title: {
                                display: true,
                                text: 'Number of wrong guesses for each digit'
                            },
                            scales: {
                                yAxes: [{
                                    display: true,
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Number of wrong guesses'
                                    }
                                }],
                                xAxes: [{
                                    display: true,
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Digits'
                                    }
                                }]
                            }
                        }
                    }); 
                }
            })
        </script>
    </body>
</html>